/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid #827c80;
    background-color: rgb(208, 203, 203);
    padding: 3rem 6rem;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}
