@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Open+Sans&display=swap');

$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #e0fbfc;

/* $background-color: #f0f; */

$header-font: 'Open Sans', sans-serif;
$main-font: 'Hedvig Letters Serif', serif;